<ActionBar [title]="!page.Title ? 'New Page' : page.Title + '\'s Page'">
  <ActionItem (tap)="onDoneTap()" text="Done" ios.position="right" android.position="actionBar"> </ActionItem>
</ActionBar>

<StackLayout>
  <StackLayout class="form">.

    <StackLayout class="input-field">
      <Label class="label" text="Name:">
      </Label>
      <TextField class="input" [(ngModel)]="page.Title" hint="Enter a name...">
      </TextField>
    </StackLayout>

    <StackLayout class="input-field">
      <Label class="label" [text]="'Birth date: ' + (!page.BirthDate ? '' : '(' + page.Age + ' years old)')"></Label>
      <TextField class="input" editable="false"
          [text]="page.BirthDate | date:'shortDate'"
          (tap)="onBirthDateTap()"
          hint="Enter a birth date...">
      </TextField>
    </StackLayout>


    <StackLayout class="input-field">
      <Label class="label" text="Gender:"> </Label>
      <TextField class="input" editable="false"
          (tap)="onGenderTap()"
      [text]="page.Gender" hint="Select a gender..."> </TextField>
    </StackLayout>


    <StackLayout class="input-field">
      <Label class="label" text="Image:">
      </Label>
      <Image [src]="page.Image" stretch="None">
      </Image>
      <Label class="footnote" [text]="(!page.Lat || !page.Long) ? '' : 'Picture taken at ' + page.Lat + ', ' + page.Long">
      </Label>
    </StackLayout>

  </StackLayout>

  <Button text="Add Image" (tap)="onAddImageTap()" class="btn btn-primary btn-rounded-sm btn-active"> </Button>
</StackLayout>
